@page "/"
@inject HttpClient Http

<div class="row">
    <div class="col-auto">
        <div>
            @for (var i = rows; i >= 0; i--) {
                <div class="row">
                    @for (int j = 0; j <= cols; j++) {
                        <div class="col-auto cell">
                            <p class="cellIndex">[@j][@i]</p>
                            <img class="imgProp @( imgVisible[i, j] ? "myImageVisible" : "myImageHidden") @imgRotationArr[i, j]" src="/img/rover.png" />
                        </div>
                    }
                </div>
            }
        </div>
    </div>
    <div class="col-auto">
        <div class="row">
            <input type="text" placeholder="1 2 N|LMLMLMLMM" @bind-value="directiveInput" @bind-value:event="oninput" />
            <button disabled=@isTaskRunning class="btn btn-primary" @onclick="async () => { await StartRoverExpedition(directiveInput); }">Button</button>
        </div>

        <div class="row mt-3">
            <form @onsubmit="onSubmit">
                <div class="form-group">
                    <InputFile class="form-control" disabled=@isTaskRunning OnChange="loadFiles" accept=".csv" />
                    <button disabled=@isTaskRunning class="btn btn-primary form-control" type="submit">Upload csv File</button>
                </div>
                <div class="form-group">
                    <textarea class="form-control">@fileInput</textarea>
                </div>
            </form>
        </div>
    </div>
    <div class="col-auto">
        <textarea rows="25" cols="40">@if (@movePath is not null)  @string.Join("\n", @movePath.Select(x => x.ToString()))</textarea>
    </div>
</div>